@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #f6f5f8;
  --nav-bg-color: #ffffff;
  --footer-bg-color: #ffffff;

  --text-color: #2e2e2e;
  --text-muted: #4b5563;
  --text-muted-strong: #374151;

  --text-color-btn-yellow: #f5f5f5;
  --primary-color-btn-yellow: #6C63FF;

  --primary-color: #6C63FF;
}

.dark {
  --bg-color: #1d1c1c;
  --nav-bg-color: #1a1a1a;
  --footer-bg-color: #1a1a1a;

  --text-color: #f5f5f5;
  --text-muted: #9ca3af;
  --text-muted-strong: #d1d5db;

  --text-color-btn-yellow: #f5f5f5;
  --primary-color-btn-yellow: #6C63FF;

  --primary-color: #6C63FF;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

nav {
  background-color: var(--nav-bg-color);
  transition: background-color 0.3s;
}

footer {
  background-color: var(--footer-bg-color);
  transition: background-color 0.3s;
}

.btn-yellow {
  background-color: var(--primary-color-btn-yellow);
  color: var(--text-color-btn-yellow);
}

.btn-yellow:hover {
  color: var(--primary-color-btn-yellow);
  background-color: var(--text-color-btn-yellow);
}

button,
a {
  color: var(--text-color);
  transition: color 0.3s, background-color 0.3s;
}

button:hover,
a:hover {
  color: var(--primary-color);
}

.section-title {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
  color: white;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}